home_automation/lighting_heating_updated/IOConfigurator/Teco_Configuration.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tecomat.com" xmlns="http://www.tecomat.com" elementFormDefault="qualified">  

  <xsd:include schemaLocation="Teco_CommonTypes.xsd"/>
  
  <!-- Base element -->
  <xsd:element name="TecoConfiguration" type="TTecoConfiguration"/>
  
  <!-- TConfiguration -->
  <xsd:complexType name="TTecoConfiguration">
    <xsd:sequence>
      <xsd:element name="Configuration" type="TConfiguration" maxOccurs="1" minOccurs="1"/>   
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- TConfiguration -->
  <xsd:complexType name="TConfiguration">
    <xsd:sequence>
      <xsd:element name="Global" type="TGlobal" maxOccurs="1" minOccurs="1"/>
      <xsd:element name="Device" type="TDevice" maxOccurs="1" minOccurs="1"/>   
    </xsd:sequence>
    <xsd:attribute name="version" type="xsd:string" use="optional" default="1.0"/>
    <xsd:attribute name="system" type="TDeviceFamilyEnum" use="optional" default="FOXTROT"/> 
    <xsd:attribute name="readOnly" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="suppressModules" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="suppressBusModules" type="xsd:boolean" use="optional" default="false"/>
  </xsd:complexType>
  
  <!-- TGlobal -->
  <xsd:complexType name="TGlobal">
    <xsd:all>
      <xsd:element name="Editor" type="TFormParams" maxOccurs="1" minOccurs="0"/>  
      <xsd:element name="Selector" type="TFormParams" maxOccurs="1" minOccurs="0"/>  
    </xsd:all>
  </xsd:complexType>
  
  <!-- TFormParams -->
  <xsd:complexType name="TFormParams">
    <xsd:attribute name="width" type="xsd:int" use="optional"/> 
    <xsd:attribute name="height" type="xsd:int" use="optional"/>
    <xsd:attribute name="left" type="xsd:int" use="optional"/>
    <xsd:attribute name="top" type="xsd:int" use="optional"/>
    <xsd:attribute name="maximized" type="xsd:boolean" use="optional"/>
    <xsd:attribute name="params" type="xsd:unsignedInt" use="optional"/>
  </xsd:complexType>
  
  <!-- TDevice -->
  <xsd:complexType name="TDevice">
    <xsd:all>
      <xsd:element name="Info" type="TInfo" maxOccurs="1" minOccurs="1"/>
      <xsd:element name="TextInfo" type="xsd:string" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="Mount" tyoe="xsd:string" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="Objects" type="TObjects" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="SerialChannels" type="TSerialChannels" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="Ethernets" type="TEthernets" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="Piggybacks" type="TPiggybacks" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="Interfaces" type="TInterfaces" maxOccurs="1" minOccurs="0"/>  
      <xsd:element name="Editor" type="TEditor" maxOccurs="1" minOccurs="0"/> 
    </xsd:all>
    <xsd:attribute name="name" type="xsd:string" use="optional"/>
    <xsd:attribute name="alias" type="xsd:string" use="optional"/>
    <xsd:attribute name="rack" type="xsd:unsignedInt" use="required"/>
    <xsd:attribute name="position" type="xsd:unsignedInt" use="required"/>
    <xsd:attribute name="segmentation" use="optional" default="1">
      <xsd:simpleType>
        <xsd:restriction base="xsd:unsignedInt">
          <xsd:minInclusive value="1"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>    
    <xsd:attribute name="enabled" type="xsd:boolean" use="optional" default="true"/>
    <xsd:attribute name="expanded" type="xsd:boolean" use="optional" default="true"/> 
    <xsd:attribute name="default" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="physAddr" type="THexDecValue" use="optional" default="0000"/>
    <xsd:attribute name="logAddr" type="xsd:unsignedInt" use="optional"/>
    <xsd:attribute name="idString" type="xsd:string" use="optional"/>
    <xsd:attribute name="sw" type="xsd:string" use="optional"/>
    <xsd:attribute name="hw" type="xsd:string" use="optional"/> 
    <xsd:attribute name="tfw" type="xsd:string" use="optional"/>
    <xsd:attribute name="sn" type="xsd:string" use="optional"/>
    <xsd:attribute name="qr" type="xsd:string" use="optional"/>
    <xsd:attribute name="statLoc" type="xsd:string" use="optional"/>
    <xsd:attribute name="errLoc" type="xsd:string" use="optional"/> 
    <xsd:attribute name="validStat" type="xsd:hexBinary" use="optional"/>
  </xsd:complexType>  
  
  <!-- TInfo -->
  <xsd:complexType name="TInfo">
    <xsd:sequence>
      <xsd:element name="ProductCode" type="xsd:unsignedInt" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="ProductName" type="xsd:string" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="VendorID" type="xsd:hexBinary" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="DeviceGroup" type="TDeviceGroupEnum" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="Descriptor" maxOccurs="1" minOccurs="1">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:string">
              <xsd:attribute name="requested" type="xsd:string" use="optional" default=""/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>    
  </xsd:complexType>
  
  <!-- TRegisterAddrNotation -->
  <xsd:simpleType name="TAbsoluteAddr">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="%[XYRS][0-9]{1,}"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- TObjects -->
  <xsd:complexType name="TObjects">
    <xsd:group ref="GObjects"/>
    <xsd:attribute name="uuid" type="xsd:string" use="required"/>
    <xsd:attribute name="inputsAddr" type="xsd:string" use="optional"/>
    <xsd:attribute name="inputsLen" type="xsd:unsignedInt" use="optional"/>
    <xsd:attribute name="outputsAddr" type="xsd:string" use="optional"/>
    <xsd:attribute name="outputsLen" type="xsd:unsignedInt" use="optional"/>  
  </xsd:complexType>
  
  <!-- GObjects -->
  <xsd:group name="GObjects">
    <xsd:sequence>
      <xsd:element name="Data" type="TData" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Conversions" type="TConversions" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Aliases" type="TAliases" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Notes" type="TNotes" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group> 
  
  <!-- TData -->
  <xsd:complexType name="TData">
    <xsd:group ref="GData"/>
  </xsd:complexType>
  
  <!-- GData -->
  <xsd:group name="GData">
    <xsd:sequence>
      <xsd:element name="ObjectData" type="TObjectData" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:group>  
  
  <!-- TConversions -->
  <xsd:complexType name="TConversions">
    <xsd:all>
      <xsd:element name="Inputs" type="TConversion" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="Outputs" type="TConversion" maxOccurs="1" minOccurs="0"/>
    </xsd:all>
  </xsd:complexType>  
  
  <!-- TConversion -->
  <xsd:complexType name="TConversion">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="length" type="xsd:unsignedInt" use="required"/>
      </xsd:extension>
    </xsd:simpleContent>             
  </xsd:complexType>
  
  <!-- TAliases -->
  <xsd:complexType name="TAliases">
    <xsd:group ref="GAliases"/>
  </xsd:complexType>
  
  <!-- GAliases -->
  <xsd:group name="GAliases">
    <xsd:sequence>
      <xsd:element name="ObjectAlias" type="TObjectAlias" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:group>   
  
  <!-- TNotes -->
  <xsd:complexType name="TNotes">
    <xsd:group ref="GNotes"/>
  </xsd:complexType>
  
  <!-- GNotes -->
  <xsd:group name="GNotes">
    <xsd:sequence>
      <xsd:element name="ObjectNote" type="TObjectNote" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:group>  
  
  <!-- TObjectData -->
  <xsd:complexType name="TObjectData">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="index" type="THexDecValue" use="required"/>
        <xsd:attribute name="name" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:simpleContent>             
  </xsd:complexType>  
  
  <!-- TObjectAlias -->
  <xsd:complexType name="TObjectAlias">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="index" type="THexDecValue" use="required"/>
        <xsd:attribute name="name" type="xsd:string" use="optional"/>
        <xsd:attribute name="public" type="xsd:boolean" use="optional" default="false"/>
        <xsd:attribute name="publicAPI" type="xsd:boolean" use="optional" default="false"/>
        <xsd:attribute name="userDef" type="xsd:boolean" use="optional" default="true"/>
      </xsd:extension>
    </xsd:simpleContent>             
  </xsd:complexType>
  
  <!-- TObjectData -->
  <xsd:complexType name="TObjectNote">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="index" type="THexDecValue" use="required"/>
        <xsd:attribute name="name" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:simpleContent>             
  </xsd:complexType>
  
  <!-- THexDecValue -->
  <xsd:simpleType name="THexDecValue">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[+-]?[0-9]{1,}"/>
      <xsd:pattern value="#x[0-9|a-f|A-F]{1,}"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- TSerialChannels -->
  <xsd:complexType name="TSerialChannels">
    <xsd:group ref="GSerialChannels"/>
    <xsd:attribute name="expandable" type="xsd:unsignedInt" use="optional"/>
    <xsd:attribute name="expanded" type="xsd:boolean" use="optional" default="true"/>
  </xsd:complexType>
  
  <!-- GSerialChannels -->
  <xsd:group name="GSerialChannels">
    <xsd:sequence>
      <xsd:element name="Channel" type="TSerialChannel" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:group>
  
  <!-- TSerialChannel -->
  <xsd:complexType name="TSerialChannel">
    <xsd:all>
      <xsd:element name="Info" type="TInfo" maxOccurs="1" minOccurs="1"/>
      <xsd:element name="TextInfo" type="xsd:string" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="Objects" type="TObjects" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="Interfaces" type="TInterfaces" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="Editor" type="TEditor" maxOccurs="1" minOccurs="0"/> 
      <xsd:element name="Network" type="TNetwork" maxOccurs="1" minOccurs="0"/> 
    </xsd:all>
    <xsd:attribute name="Name" type="xsd:string" use="required"/> 
    <xsd:attribute name="Alias" type="xsd:string" use="optional"/>     
    <xsd:attribute name="LAddr" type="xsd:hexBinary" default="0000" use="required"/>  
    <xsd:attribute name="Mode" type="TSerialChannelModeEnum" default="" use="required"/>
    <xsd:attribute name="Port" type="xsd:string" default="0" use="optional"/>
    <xsd:attribute name="Options" type="TSerialChannelModeList" default="" use="required"/>
    <xsd:attribute name="Ports" type="TStringList" default="" use="optional"/>
    <xsd:attribute name="SysMap" type="xsd:string" use="optional"/>
    <xsd:attribute name="SysMapCode" type="xsd:hexBinary" use="optional"/>
    <xsd:attribute name="SysMapObject" type="xsd:string" use="optional"/>
    <xsd:attribute name="Mount" type="xsd:string" use="optional"/>
    <xsd:attribute name="Icon" type="xsd:string" use="optional"/>
    <xsd:attribute name="enabled" type="xsd:boolean" use="optional" default="true"/>
    <xsd:attribute name="expanded" type="xsd:boolean" use="optional" default="true"/>
    <xsd:attribute name="idString" type="xsd:string" use="optional"/>
    <xsd:attribute name="default" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="excluded" type="xsd:boolean" use="optional" default="false"/> 
    <xsd:attribute name="excludedObject" type="xsd:string" use="optional"/>
  </xsd:complexType>
  
  <!-- TNetwork -->
  <xsd:complexType name="TNetwork">
    <xsd:choice>
      <xsd:element name="PLCNode" type="TPLCNode" maxOccurs="unbounded" minOccurs="0"/>  
      <xsd:element name="MPCNode" type="TMPCNode" maxOccurs="unbounded" minOccurs="0"/>  
      <xsd:element name="PFBNode" type="TPFBNode" maxOccurs="unbounded" minOccurs="0"/>  
    </xsd:choice>    
    <xsd:attribute name="configFile" type="xsd:string" use="optional" default=""/> 
    <xsd:attribute name="id" type="xsd:string" use="optional" default=""/> 
    <xsd:attribute name="addr" type="xsd:integer" use="optional" default="-1"/> 
    <xsd:attribute name="crc" type="xsd:unsignedInt" use="optional" default="0"/>
  </xsd:complexType>
  
  <!-- TPLCNode -->
  <xsd:complexType name="TPLCNode">
    <xsd:attribute name="name" type="xsd:string" use="required"/> 
    <xsd:attribute name="alias" type="xsd:string" use="optional"/>   
    <xsd:attribute name="channel" type="xsd:string" use="required"/>    
    <xsd:attribute name="addr" type="xsd:unsignedInt" use="required"/>
    <xsd:attribute name="data" type="xsd:string" use="required"/>
    <xsd:attribute name="dataLen" type="xsd:unsignedInt" use="required"/>
    <xsd:attribute name="dataName" type="xsd:string" use="optional"/>
    <xsd:attribute name="statName" type="xsd:string" use="optional"/>
    <xsd:attribute name="raster" type="xsd:unsignedInt" use="optional"/>
    <xsd:attribute name="dataObject" type="xsd:string" use="optional"/>
  </xsd:complexType>
  
  <!-- TMPCNode -->
  <xsd:complexType name="TMPCNode">
    <xsd:attribute name="name" type="xsd:string" use="required"/> 
    <xsd:attribute name="alias" type="xsd:string" use="optional"/>  
    <xsd:attribute name="channel" type="xsd:string" use="required"/>    
  </xsd:complexType>
  
  <!-- TPFBNode -->
  <xsd:complexType name="TPFBNode">
    <xsd:attribute name="name" type="xsd:string" use="required"/>  
    <xsd:attribute name="alias" type="xsd:string" use="optional"/>  
    <xsd:attribute name="gsd" type="xsd:string" use="required"/>
    <xsd:attribute name="CFGDataObject" type="xsd:string" use="optional"/>  
    <xsd:attribute name="DIAGDataObject" type="xsd:string" use="optional"/>
    <xsd:attribute name="INDataObject" type="xsd:string" use="optional"/>
    <xsd:attribute name="OUTDataObject" type="xsd:string" use="optional"/>  
  </xsd:complexType>
    
  <!-- TEthernets -->
  <xsd:complexType name="TEthernets">
    <xsd:group ref="GEthernets"/>
    <xsd:attribute name="expandable" type="xsd:unsignedInt" use="optional"/>
    <xsd:attribute name="expanded" type="xsd:boolean" use="optional" default="true"/>
  </xsd:complexType>
  
  <!-- GEthernets group -->
  <xsd:group name="GEthernets">
    <xsd:sequence>
      <xsd:element name="Ethernet" type="TEthernet" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>    
  </xsd:group>  
  
  <!-- TEthernet -->
  <xsd:complexType name="TEthernet">
    <xsd:group ref="GEthernet"/>
    <xsd:attribute name="Name" type="xsd:string" use="required"/>
    <xsd:attribute name="Alias" type="xsd:string" use="optional"/>
    <xsd:attribute name="LAddr" type="xsd:hexBinary" default="00" use="required"/>
    <xsd:attribute name="IP" type="xsd:string" use="optional"/> 
    <xsd:attribute name="SysMap" type="xsd:string" default="ETH1" use="optional"/>
    <xsd:attribute name="SysMapCode" type="xsd:hexBinary" use="optional"/>
    <xsd:attribute name="SysMapObject" type="xsd:string" use="optional"/>
    <xsd:attribute name="Mount" type="xsd:string" use="optional"/>
    <xsd:attribute name="Icon" type="xsd:string" use="optional"/>
    <xsd:attribute name="expanded" type="xsd:boolean" use="optional" default="true"/>
    <xsd:attribute name="excluded" type="xsd:boolean" use="optional" default="false"/> 
    <xsd:attribute name="excludedObject" type="xsd:string" use="optional"/>
  </xsd:complexType>
  
  <!-- GEthernet group -->
  <xsd:group name="GEthernet">
    <xsd:sequence>
      <xsd:element name="Channel" type="TEthernetChannel" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>    
  </xsd:group>
  
  <!-- TEthernetChannel -->
  <xsd:complexType name="TEthernetChannel">
    <xsd:all>
      <xsd:element name="Info" type="TInfo" maxOccurs="1" minOccurs="1"/>
      <xsd:element name="TextInfo" type="xsd:string" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="Objects" type="TObjects" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="Interfaces" type="TInterfaces" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="Editor" type="TEditor" maxOccurs="1" minOccurs="0"/> 
      <xsd:element name="Network" type="TNetwork" maxOccurs="1" minOccurs="0"/> 
    </xsd:all>
    <xsd:attribute name="Name" type="xsd:string" use="required"/>  
    <xsd:attribute name="Alias" type="xsd:string" use="optional"/>    
    <xsd:attribute name="Mode" type="TEthernetChannelModeEnum" default="" use="required"/>
    <xsd:attribute name="LAddr" type="xsd:hexBinary" default="0000" use="required"/> 
    <xsd:attribute name="Port" type="xsd:string" default="0" use="optional"/>
    <xsd:attribute name="Options" type="TEthernetChannelModeList" default="" use="required"/>
    <xsd:attribute name="Ports" type="TStringList" default="" use="optional"/>
    <xsd:attribute name="SysMap" type="xsd:string" use="optional"/>
    <xsd:attribute name="SysMapCode" type="xsd:hexBinary" use="optional"/>
    <xsd:attribute name="SysMapObject" type="xsd:string" use="optional"/>
    <xsd:attribute name="enabled" type="xsd:boolean" use="optional" default="true"/>
    <xsd:attribute name="expanded" type="xsd:boolean" use="optional" default="true"/> 
    <xsd:attribute name="idString" type="xsd:string" use="optional"/>
    <xsd:attribute name="default" type="xsd:boolean" use="optional" default="false"/> 
    <xsd:attribute name="excluded" type="xsd:boolean" use="optional" default="false"/> 
    <xsd:attribute name="excludedObject" type="xsd:string" use="optional"/>
  </xsd:complexType>
  
  <!-- TPiggybacks -->
  <xsd:complexType name="TPiggybacks">
    <xsd:group ref="GPiggybacks"/>
    <xsd:attribute name="expanded" type="xsd:boolean" use="optional" default="true"/>
  </xsd:complexType>
  
  <!-- GPiggybacks -->
  <xsd:group name="GPiggybacks">
    <xsd:sequence>
      <xsd:element name="Piggyback" type="TPiggyback" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:group>
  
  <!-- TPiggyback -->  
  <xsd:complexType name="TPiggyback">
    <xsd:all>
      <xsd:element name="Info" type="TInfo" maxOccurs="1" minOccurs="1"/>
      <xsd:element name="TextInfo" type="xsd:string" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="Objects" type="TObjects" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="SerialChannels" type="TSerialChannels" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="Ethernets" type="TEthernets" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="Piggybacks" type="TPiggybacks" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="Interfaces" type="TInterfaces" maxOccurs="1" minOccurs="0"/>  
      <xsd:element name="Editor" type="TEditor" maxOccurs="1" minOccurs="0"/> 
    </xsd:all>
    <xsd:attribute name="name" type="xsd:string" use="optional"/>
    <xsd:attribute name="alias" type="xsd:string" use="optional"/>
    <xsd:attribute name="slot" type="xsd:unsignedInt" use="required"/>
    <xsd:attribute name="enabled" type="xsd:boolean" use="optional" default="true"/>
    <xsd:attribute name="expanded" type="xsd:boolean" use="optional" default="true"/> 
    <xsd:attribute name="default" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="idString" type="xsd:string" use="optional"/>
    <xsd:attribute name="Mount" type="xsd:string" use="optional"/>
    <xsd:attribute name="Icon" type="xsd:string" use="optional"/>
  </xsd:complexType> 
  
  <!-- TInterfaces -->
  <xsd:complexType name="TInterfaces">
    <xsd:group ref="GInterfaces"/>
    <xsd:attribute name="expanded" type="xsd:boolean" use="optional" default="true"/>
  </xsd:complexType>
  
  <!-- GInterfaces -->
  <xsd:group name="GInterfaces">
    <xsd:sequence>
      <xsd:element name="Interface" type="TInterface" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:group>

  <!-- TInterface -->
  <xsd:complexType name="TInterface">
    <xsd:sequence>
      <xsd:element name="Peripheries" type="TPeripheries" maxOccurs="1" minOccurs="1"/>
    </xsd:sequence>  
    <xsd:attribute name="Class" type="TInterfaceClassEnum" use="required"/>
    <xsd:attribute name="SubClass" type="TInterfaceSubClassEnum" use="optional" default="UNDEF"/>  
    <xsd:attribute name="alias" type="xsd:string" use="optional"/>
    <xsd:attribute name="rackOffset" type="xsd:unsignedInt" use="optional" default="0"/>
    <xsd:attribute name="rackSize" type="xsd:unsignedInt" use="optional" default="1"/> 
    <xsd:attribute name="expanded" type="xsd:boolean" use="optional" default="true"/> 
    <xsd:attribute name="Plug" type="xsd:nonNegativeInteger" use="optional"/>
    <xsd:attribute name="busID" type="xsd:hexBinary" use="optional" default="0"/>
    <xsd:attribute name="Mount" type="xsd:string" use="optional"/>
    <xsd:attribute name="Icon" type="xsd:string" use="optional"/>
    <xsd:attribute name="ChannelRefOnly" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="suppress" type="xsd:boolean" use="optional" default="false"/> 
    <xsd:attribute name="excluded" type="xsd:boolean" use="optional" default="false"/> 
    <xsd:attribute name="excludedObject" type="xsd:string" use="optional"/>
  </xsd:complexType>
  
  <!-- TPeripheries -->
  <xsd:complexType name="TPeripheries">
    <xsd:group ref="GPeripheries"/>
    <xsd:attribute name="expanded" type="xsd:boolean" use="optional" default="true"/>
  </xsd:complexType>
  
  <!-- GPeripheries -->
  <xsd:group name="GPeripheries">
    <xsd:sequence>
      <xsd:element name="Device" type="TDevice" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:group>
  
  <!-- TEditor -->
  <xsd:complexType name="TEditor">
    <xsd:sequence>
      <xsd:element name="ExpansionMaps" type="TExpansionMaps" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="FormatMaps" type="TFormatMaps" maxOccurs="1" minOccurs="0"/>
    </xsd:sequence>   
    <xsd:attribute name="width" type="xsd:unsignedInt" use="optional"/> 
    <xsd:attribute name="height" type="xsd:unsignedInt" use="optional"/>
    <xsd:attribute name="left" type="xsd:unsignedInt" use="optional"/>
    <xsd:attribute name="top" type="xsd:unsignedInt" use="optional"/>
    <xsd:attribute name="maximized" type="xsd:boolean" use="optional"/>
  </xsd:complexType>
  
  <!-- TExpansionMaps -->
  <xsd:complexType name="TExpansionMaps">
    <xsd:group ref="GExpansionMaps"/>
  </xsd:complexType>
  
  <!-- GExpansionMaps -->
  <xsd:group name="GExpansionMaps">
    <xsd:sequence>
      <xsd:element name="ExpansionMap" type="TExpansionMap" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:group>
  
  <!-- TExpansionMap -->
  <xsd:complexType name="TExpansionMap">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="index" type="THexDecValue" use="required"/>
        <xsd:attribute name="name" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:simpleContent>             
  </xsd:complexType>
  
  <!-- TFormatMaps -->
  <xsd:complexType name="TFormatMaps">
    <xsd:group ref="GFormatMaps"/>
  </xsd:complexType>
                                                      
  <!-- GFormatMaps -->
  <xsd:group name="GFormatMaps">
    <xsd:sequence>
      <xsd:element name="FormatMap" type="TFormatMap" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:group>
  
  <!-- TFormatMap -->
  <xsd:complexType name="TFormatMap">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="index" type="THexDecValue" use="required"/>
        <xsd:attribute name="name" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:simpleContent>             
  </xsd:complexType>
  
</xsd:schema>

